body{
    background-image: url(/Projeto/assets/leaves.png);
    background-repeat: repeat;
}

img {
    max-width: 100%;
    height: auto;
  }
  

.container {
    background-image: url(/Projeto/assets/bobinaLot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 18.75rem; /* 300px */
    margin: auto;
    padding: 2.5rem; /* 40px */
    border: 0.125rem solid rgb(84, 201, 237); /* 2px */
    border-radius: 0.3125rem; /* 5px */
}

h2 {
    text-align: center;
}

#resultado,
#recalcularParcelas,
#recalcularValor {
    margin-bottom: 1.25rem; /* 20px */
}

label {
    display: block;
    margin-bottom: 0.3125rem; /* 5px */
}

input:not([type=checkbox]) {
    width: 100%;
    padding: 0.625rem; /* 10px */
    margin-bottom: 0.625rem; /* 10px */
    box-sizing: border-box;
    border: 0.0125rem solid; /* 0.2px */
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,0.5);/* 2px 2px 5px */
}

input#seguro {
    cursor: pointer;
}

button {
    border: 0.0125rem solid; /* 0.2px */
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,0.5); /* 2px 2px 5px */
    width: 100%;
    padding: 0.625rem; /* 10px */
    background-color: rgb(84, 201, 237);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#resultado {
    margin-top: 1.25rem; /* 20px */
}
